{{! expects Attack }}
<fieldset data-item-id="{{id}}" class="flexrow">
    <img src="{{img}}" title="{{name}}" height="24" width="24" class="flex0"/>
    <div>{{name}}</div>
    {{#with system}}
        <div>{{attackType}}</div>
        <div>{{check.attribute1}}</div>
        <div>{{check.attribute2}}</div>
        <div>{{check.bonus}}</div>
        <div>{{damage.roll}}</div>
        <div>{{damage.bonus}}</div>
        <div>{{damage.type}}</div>
        <div>
            {{#if status}}
                {{status}}
            {{else}}
                {{localize 'FABULA_ULTIMA.noValue'}}
            {{/if}}
        </div>
        <div class="flex0">
            <a class="{{#if ../sheetSettings.isObserver}}disabled{{/if}}"
               title="{{localize 'FABULA_ULTIMA.roll.attack'}}"
               data-action="roll" data-type="item">
                <i class="fas fa-dice-d20"></i>
            </a>
            <a class="{{#if ../sheetSettings.isObserver}}disabled{{/if}}"
               title="{{localize 'FABULA_ULTIMA.edit.attack'}}" data-action="edit"
               data-type="item">
                <i class="fas fa-edit"></i>
            </a>
            <a class="{{#if ../sheetSettings.isObserver}}disabled{{/if}}"
               title="{{localize 'FABULA_ULTIMA.delete.attack'}}"
               data-action="delete" data-type="item">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    {{/with}}
</fieldset>
