{{! expects Weapon }}
<img src="{{img}}" title="{{name}}" height="24" width="24" class="flex0"/>
<div>{{name}}</div>
<div>{{localize (concat "FABULA_ULTIMA.attackType." system.attackType)}}</div>
<div>{{localize (concat "FABULA_ULTIMA.defense." system.defense ".short")}}</div>
<div>{{>check}}</div>
<div>{{>damage}}</div>
<div>{{system.quality}}</div>
<div class="flex0">
    <a class="{{#if @root/sheetSettings.isObserver}}disabled{{/if}}"
       title="{{localize 'FABULA_ULTIMA.roll.attack'}}"
       data-action="roll" data-type="item">
        <i class="fas fa-dice-d20"></i>
    </a>
    <a class="{{#if @root/sheetSettings.isObserver}}disabled{{/if}}"
       title="{{localize 'FABULA_ULTIMA.edit.attack'}}" data-action="edit"
       data-type="item">
        <i class="fas fa-edit"></i>
    </a>
</div>
