<section class="form-group">
    <fieldset class="form-fields">
        <label class="checkbox">
            {{localize 'FABULA_ULTIMA.statusEffect.weak'}}
            <input type="checkbox" data-status="weak" {{checked weak}}>
        </label>
    </fieldset>
    <fieldset class="form-fields">
        <label class="checkbox">
            {{localize 'FABULA_ULTIMA.statusEffect.shaken'}}
            <input type="checkbox" data-status="shaken" {{checked shaken}}>
        </label>
    </fieldset>
    <fieldset class="form-fields">
        <label class="checkbox">
            {{localize 'FABULA_ULTIMA.statusEffect.poisoned'}}
            <input type="checkbox" data-status="poisoned" {{checked poisoned}}>
        </label>
    </fieldset>
    <fieldset class="form-fields">
        <label class="checkbox">
            {{localize 'FABULA_ULTIMA.statusEffect.slow'}}
            <input type="checkbox" data-status="slow" {{checked slow}}>
        </label>
    </fieldset>
    <fieldset class="form-fields">
        <label class="checkbox">
            {{localize 'FABULA_ULTIMA.statusEffect.dazed'}}
            <input type="checkbox" data-status="dazed" {{checked dazed}}>
        </label>
    </fieldset>
    <fieldset class="form-fields">
        <label class="checkbox">
            {{localize 'FABULA_ULTIMA.statusEffect.enraged'}}
            <input type="checkbox" data-status="enraged" {{checked enraged}}>
        </label>
    </fieldset>
</section>