<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{skill.img}}" data-edit="img" title="{{skill.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{skill.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.skill.maxLevel'}}</label>
            <input type="number" name="maxLevel" value="{{skill.maxLevel}}" min="1">
        </fieldset>
    </section>
    <nav class="sheet-tabs tabs">
        <a class="item">{{localize 'FABULA_ULTIMA.description'}}</a>
    </nav>
    <section class="form-group-stacked">
        <fieldset class="form-fields">
            {{editor enrichedHtml.description target='description' engine="prosemirror" button=true}}
        </fieldset>
    </section>
</form>
