<section class="flexrow">
    {{#each (fu-attributes)}}
        <fieldset class="form-fields">
            <label>
                <abbr title="{{localize (concat 'FABULA_ULTIMA.attribute.' @key '.full')}}">
                    {{localize (concat 'FABULA_ULTIMA.attribute.' @key '.short')}}
                </abbr>
                :
            </label>
            <span>{{localize (concat 'FABULA_ULTIMA.attributeDice.' (lookup ../attributeValues @key))}}</span>
        </fieldset>
    {{/each}}
</section>
<hr>
<section>
    <fieldset>
        {{radioBoxes 'attr1' attributes checked=attr1 localize=true }}
    </fieldset>
    <fieldset>
        {{radioBoxes 'attr2' attributes checked=attr2 localize=true }}
    </fieldset>
    <fieldset>
        <label>
            {{localize 'FABULA_ULTIMA.dialog.check.modifier'}}
            <input name="modifier" type="number" value="{{modifier}}">
        </label>
    </fieldset>
    <fieldset>
        <label>
            {{localize 'FABULA_ULTIMA.dialog.check.difficulty'}}
            <input name="difficulty" type="number" value="{{difficulty}}" min="0">
        </label>
    </fieldset>
</section>