{{! expects Character }}
{{log this}}
<form class="standard-form fabula-ultima {{cssClass}}" autocomplete="off">
    <header class="sheet-header form-group">
        <fieldset>
            <h1 class="form-fields">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
                <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
                <input name="system.pronouns" type="text" value="{{system.pronouns}}" placeholder="Pronouns"/>
            </h1>
        </fieldset>
    </header>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>Identity</label>
            <input name="system.traits.identity" type="text" value="{{system.traits.identity}}">
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>Theme</label>
            <input name="system.traits.theme" type="text" value="{{system.traits.theme}}">
        </fieldset>
        <fieldset class="form-fields">
            <label>Origin</label>
            <input name="system.traits.origin" type="text" value="{{system.traits.origin}}">
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>Level</label>
            <input name="system.level" type="number" value="{{system.level}}">
        </fieldset>
        <fieldset class="form-fields">
            <label>Experience Points</label>
            <input name="system.experience" type="number" value="{{system.experience}}">
        </fieldset>
        <fieldset class="form-fields">
            <label>Fabula Points</label>
            <input name="system.fabulaPoints" type="number" value="{{system.fabulaPoints}}">
        </fieldset>
    </section>
    <section class="form-group">
        {{> attributeConfig system.attributes}}
        <fieldset style="flex: 0">
            <a class="button" data-action="roll" data-type="check">
                <label>
                    <i class="fas fa-dice"></i>
                </label>
            </a>
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>HP</label>
            <input type="number" name="system.hp.value" value="{{system.hp.value}}" min="0">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.hp.max}}">
            (<input type="text" readonly value="{{system.hp.crisis}}">)
        </fieldset>
        <fieldset class="form-fields">
            <label>MP</label>
            <input type="number" name="system.mp.value" value="{{system.mp.value}}" min="0">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.mp.max}}"/>
        </fieldset>
        <fieldset class="form-fields">
            <label>IP</label>
            <input type="number" name="system.inventoryPoints.value" value="{{system.inventoryPoints.value}}" min="0">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.inventoryPoints.max}}"/>
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.initiativeModifier.short' }}</label>
            <input name="system.initiativeModifier" type="number" readonly
                   value="{{system.initiativeModifier}}"/>
        </fieldset>
    </section>
    <section class="form-group">
        {{#each system.defenses}}
            <fieldset class="form-fields">
                <label>{{localize (concat 'FABULA_ULTIMA.defense.' @key '.short')}}</label>
                <select name="system.defenses.{{@key}}.attribute">
                    <option value="none"></option>
                    {{selectOptions (fu-attributes) selected=this.attribute localize=true labelAttr='short'}}
                </select>
                <span class="sep">+</span>
                <input name="system.defenses.{{@key}}.modifier" type="number" value="{{this.modifier}}">
                <span class="sep">=</span>
                <input readonly type="number" value="{{this.current}}">
            </fieldset>
        {{/each}}
    </section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="equipment">{{localize 'FABULA_ULTIMA.tab.equipment'}}</a>
        <a class="item" data-tab="backpack">{{localize 'FABULA_ULTIMA.tab.backpack'}}</a>
        <a class="item" data-tab="spells">{{localize 'FABULA_ULTIMA.tab.spells'}}</a>
        <a class="item" data-tab="bonds">{{localize 'FABULA_ULTIMA.tab.bonds'}}</a>
        <a class="item" data-tab="jobs">{{localize 'FABULA_ULTIMA.tab.jobs'}}</a>
        <a class="item" data-tab="effects">{{localize 'FABULA_ULTIMA.tab.effects'}}</a>
        <a class="item" data-tab="description">{{localize 'FABULA_ULTIMA.tab.description'}}</a>
    </nav>
    <div class="tab-container">
        <div class="tab" data-tab="equipment" data-group="primary">
            <section class="form-group-stacked">
                <fieldset class="form-fields">
                    <label>{{localize 'FABULA_ULTIMA.proficiencies.label'}}:</label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.armor}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.armor'}}
                    </label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.shields}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.shields'}}
                    </label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.melee}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.melee'}}
                    </label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.ranged}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.ranged'}}
                    </label>
                </fieldset>
                <fieldset>
                    {{#if system.equipment.accessory}}
                        {{system.equipment.accessory.name}}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <fieldset>
                    {{#if system.equipment.armor}}
                        {{system.equipment.armor.name}}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <fieldset>
                    {{#if system.equipment.mainHand}}
                        {{system.equipment.mainHand.name}}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <fieldset>
                    {{#if system.equipment.offHand}}
                        {{system.equipment.offHand.name}}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <div class="flexrow">
                    {{> affinitiesConfig system.affinities }}
                </div>
            </section>
        </div>
        <div class="tab" data-tab="backpack" data-group="primary">
            <section class="form-group">
                <ul>
                    <li class="flexrow">
                        <fieldset>
                            <label>{{localize 'FABULA_ULTIMA.character.backpack'}}</label>
                            <a data-action="add" data-type="equipment"><i class="fas fa-plus"></i></a>
                        </fieldset>
                    </li>
                    {{#each actor.backpack as | item |}}
                        <li class="flexrow">
                            <fieldset data-item-id="{{item.id}}">
                                <label>{{name}}</label>
                                <div>
                                    <a data-action="edit" data-type="equipment"><i class="fas fa-edit"></i></a>
                                    <a data-action="delete" data-type="equipment"><i class="fas fa-trash"></i></a>
                                </div>
                            </fieldset>
                        </li>
                    {{/each}}
                </ul>
            </section>
        </div>
        <div class="tab" data-tab="spells" data-group="primary">
            <section>
                <ol>
                    <li class="flexrow">
                        <fieldset class="flexrow">
                            <div class="flex0" style="min-width: 24px"></div>
                            <div>{{localize 'FABULA_ULTIMA.npc.spell.name'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.npc.spell.cost'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.npc.spell.check'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.npc.spell.damage'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.npc.spell.status'}}</div>
                            <div class="flex0">
                                <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}"
                                   title="{{localize 'FABULA_ULTIMA.npc.attacks.create'}}" data-action="create"
                                   data-type="item"
                                   data-document-type="spell">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </fieldset>
                    </li>
                    {{#each actor.itemTypes.spell}}
                        <li class="flexrow">
                            {{> spellDisplay }}
                        </li>
                    {{/each}}
                </ol>
            </section>
        </div>
        <div class="tab" data-tab="bonds" data-group="primary">
            <section class="form-group-stacked">
                <fieldset>
                    <label>{{localize 'FABULA_ULTIMA.sheet.character.bonds'}}</label>
                    <a data-action="add" data-type="bond"><i class="fas fa-plus"></i></a>
                </fieldset>
                {{#each system.bonds}}
                    <fieldset class="form-fields" data-index="{{@index}}">
                        <input name="system.bonds.{{@index}}.with" type="text" value="{{./with}}">
                        <select name="system.bonds.{{@index}}.feeling1">
                            {{selectOptions (fu-feelings1) selected=feeling1 localize=true}}
                        </select>
                        <select name="system.bonds.{{@index}}.feeling2">
                            {{selectOptions (fu-feelings2) selected=feeling2 localize=true}}
                        </select>
                        <select name="system.bonds.{{@index}}.feeling3">
                            {{selectOptions (fu-feelings3) selected=feeling3 localize=true}}
                        </select>
                        <a data-action="delete" data-type="bond"><i class="fas fa-trash"></i></a>
                    </fieldset>
                {{/each}}
            </section>
        </div>
        <div class="tab" data-tab="jobs" data-group="primary">
            <section class="form-group-stacked">
                <ol>
                    <li class="flexrow">
                        <fieldset class="flexrow">
                            <div class="flex0" style="min-width: 24px"></div>
                            <div>{{localize 'FABULA_ULTIMA.character.job.name'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.character.job.level'}}</div>
                            <div class="flex0">
                                <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}"
                                   title="{{localize 'FABULA_ULTIMA.npc.attacks.create'}}" data-action="create"
                                   data-type="item"
                                   data-document-type="spell">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </fieldset>
                    </li>

                    <li class="flexrow">
                        <fieldset data-item-id="{{id}}">
                            <div class="flexrow">
                                <a data-collapse-toggle="{{id}}"><i class="fas fa-chevron-circle-down"></i></a>
                                <label>{{name}}Name</label>
                                <label>{{level}}Lvl 5</label>
                            </div>
                            <div class="collapse" data-collapse="{{id}}">
                                <div>
                                    {{localize 'FABULA_ULTIMA.character.job.skills.label'}}
                                </div>
                                <ul>
                                    {{#each (lookup ../actor.skills slug) }}
                                        <li class="flexcol">
                                            <fieldset class="flexrow">
                                                <label>{{name}}</label>
                                                <label>{{localize
                                                        'FABULA_ULTIMA.character.job.skill.level'}} {{level}}</label>
                                            </fieldset>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </fieldset>
                    </li>

                    {{#each actor.itemTypes.job}}

                    {{/each}}
                </ol>
            </section>
        </div>
        <div class="tab" data-tab="effects" data-group="primary">
            <section></section>
        </div>
        <div class="tab" data-tab="description" data-group="primary">
            <section></section>
        </div>
    </div>
</form>
