{{! expects Character }}
{{log this}}
<form class="standard-form fabula-ultima {{cssClass}}" autocomplete="off">
    <header class="sheet-header form-group">
        <fieldset>
            <h1 class="form-fields">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
                <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
                <input name="system.pronouns" type="text" value="{{system.pronouns}}" placeholder="Pronouns"/>
            </h1>
        </fieldset>
    </header>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.pc.identity'}}</label>
            <input name="system.traits.identity" type="text" value="{{system.traits.identity}}">
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.pc.theme'}}</label>
            <input name="system.traits.theme" type="text" value="{{system.traits.theme}}">
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.pc.origin'}}</label>
            <input name="system.traits.origin" type="text" value="{{system.traits.origin}}">
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.level'}}</label>
            <input name="system.level" type="number" value="{{system.level}}">
        </fieldset>
        <fieldset class="form-fields">
            <label><abbr title="{{localize 'FABULA_ULTIMA.sheet.pc.xp.full'}}">
                {{localize 'FABULA_ULTIMA.sheet.pc.xp.short'}}
            </abbr></label>
            <input name="system.experience" type="number" value="{{system.experience}}">
        </fieldset>
        <fieldset class="form-fields">
            <label><abbr title="{{localize 'FABULA_ULTIMA.sheet.pc.fp.full'}}">
                {{localize 'FABULA_ULTIMA.sheet.pc.fp.short'}}
            </abbr></label>
            <input name="system.fabulaPoints" type="number" value="{{system.fabulaPoints}}">
        </fieldset>
    </section>
    <section class="form-group">
        {{> attributeConfig system.attributes}}
        <fieldset style="flex: 0">
            <a class="button" data-action="roll" data-type="check">
                <label>
                    <i class="fas fa-dice"></i>
                </label>
            </a>
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label><abbr title="{{localize 'FABULA_ULTIMA.hp.full'}}">
                {{localize 'FABULA_ULTIMA.hp.short'}}
            </abbr></label>
            <input type="number" name="system.hp.value" value="{{system.hp.value}}" min="0">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.hp.max}}">
            (<input type="text" readonly value="{{system.hp.crisis}}">)
        </fieldset>
        <fieldset class="form-fields">
            <label><abbr title="{{localize 'FABULA_ULTIMA.mp.full'}}">
                {{localize 'FABULA_ULTIMA.mp.short'}}
            </abbr></label>
            <input type="number" name="system.mp.value" value="{{system.mp.value}}" min="0">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.mp.max}}"/>
        </fieldset>
        <fieldset class="form-fields">
            <label><abbr title="{{localize 'FABULA_ULTIMA.sheet.pc.ip.full'}}">
                {{localize 'FABULA_ULTIMA.sheet.pc.ip.short'}}
            </abbr></label>
            <input type="number" name="system.ip.value" value="{{system.ip.value}}" min="0">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.ip.max}}"/>
        </fieldset>
        <fieldset class="form-fields">
            <label><abbr title="{{localize 'FABULA_ULTIMA.sheet.pc.initiativeModifier.full' }}">
                {{localize 'FABULA_ULTIMA.sheet.pc.initiativeModifier.short' }}
            </abbr></label>
            <input name="system.initiativeModifier" type="number" readonly
                   value="{{system.initiativeModifier}}"/>
        </fieldset>
    </section>
    <section class="form-group">
        {{#each system.defenses}}
            <fieldset class="form-fields">
                <label><abbr title="{{localize (concat 'FABULA_ULTIMA.defense.' @key '.full')}}">{{localize
                        (concat 'FABULA_ULTIMA.defense.' @key '.short')}}</abbr></label>
                <select name="system.defenses.{{@key}}.attribute">
                    <option value="none"></option>
                    {{selectOptions (fu-attributes) selected=this.attribute localize=true labelAttr='short'}}
                </select>
                <span class="sep">+</span>
                <input name="system.defenses.{{@key}}.modifier" type="number" value="{{this.modifier}}">
                <span class="sep">=</span>
                <input readonly type="number" value="{{this.current}}">
            </fieldset>
        {{/each}}
    </section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="equipment">{{localize 'FABULA_ULTIMA.sheet.pc.tab.equipment'}}</a>
        <a class="item" data-tab="backpack">{{localize 'FABULA_ULTIMA.sheet.pc.tab.backpack'}}</a>
        <a class="item" data-tab="spells">{{localize 'FABULA_ULTIMA.sheet.pc.tab.spells'}}</a>
        <a class="item" data-tab="bonds">{{localize 'FABULA_ULTIMA.sheet.pc.tab.bonds'}}</a>
        <a class="item" data-tab="jobs">{{localize 'FABULA_ULTIMA.sheet.pc.tab.jobs'}}</a>
        <a class="item" data-tab="description">{{localize 'FABULA_ULTIMA.description'}}</a>
    </nav>
    <div class="tab-container">
        <div class="tab" data-tab="equipment" data-group="primary">
            <section class="form-group-stacked">
                <fieldset class="form-fields">
                    <label>{{localize 'FABULA_ULTIMA.proficiencies.label'}}:</label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.armor}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.armor'}}
                    </label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.shield}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.shields'}}
                    </label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.melee}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.melee'}}
                    </label>
                    <label>
                        <input type="checkbox" disabled {{checked system.proficiencies.ranged}}>
                        {{localize 'FABULA_ULTIMA.proficiencies.ranged'}}
                    </label>
                </fieldset>
                <fieldset class="flexrow" data-item-id="{{system.equipment.accessory.id}}">
                    {{#if system.equipment.accessory}}
                        {{> (lookup partials system.equipment.accessory.type) system.equipment.accessory }}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <fieldset class="flexrow" data-item-id="{{system.equipment.armor.id}}">
                    {{#if system.equipment.armor}}
                        {{> (lookup partials system.equipment.armor.type) system.equipment.armor }}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <fieldset class="flexrow" data-item-id="{{system.equipment.mainHand.id}}">
                    {{#if system.equipment.mainHand}}
                        {{> (lookup partials system.equipment.mainHand.type) system.equipment.mainHand }}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <fieldset class="flexrow" data-item-id="{{system.equipment.offHand.id}}">
                    {{#if system.equipment.offHand}}
                        {{> (lookup partials system.equipment.offHand.type) system.equipment.offHand }}
                    {{else}}
                        {{localize 'FABULA_ULTIMA.none'}}
                    {{/if}}
                </fieldset>
                <div class="flexrow">
                    {{> affinitiesConfig system.affinities }}
                </div>
            </section>
        </div>
        <div class="tab" data-tab="backpack" data-group="primary">
            <section class="form-group">
                <ul>
                    <li class="flexrow">
                        <fieldset>
                            <label>{{localize 'FABULA_ULTIMA.sheet.pc.backpack.add'}}</label>
                            <a data-action="add" data-type="equipment"><i class="fas fa-plus"></i></a>
                        </fieldset>
                    </li>
                    {{#each actor.backpack as | item |}}
                        <li class="flexrow">
                            <fieldset class="flexrow" data-item-id="{{item.id}}">
                                <img class="flex0" src="{{item.img}}" width="24" height="24"/>
                                <label>{{name}}</label>
                                <input type="checkbox" data-action="equip" {{checked
                                        (lookup ../actor.equipped item.id )}}>
                                <div class="flex0">
                                    <a data-action="edit" data-type="equipment"><i class="fas fa-edit"></i></a>
                                    <a data-action="delete" data-type="equipment"><i class="fas fa-trash"></i></a>
                                </div>
                            </fieldset>
                        </li>
                    {{/each}}
                </ul>
            </section>
        </div>
        <div class="tab" data-tab="spells" data-group="primary">
            <section>
                <ol>
                    <li class="flexrow">
                        <fieldset class="flexrow">
                            <div class="flex0" style="min-width: 24px"></div>
                            <div>{{localize 'FABULA_ULTIMA.sheet.pc.spell.name'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.sheet.pc.spell.cost'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.sheet.pc.spell.check'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.sheet.pc.spell.damage'}}</div>
                            <div>{{localize 'FABULA_ULTIMA.sheet.pc.spell.status'}}</div>
                            <div class="flex0">
                                <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}"
                                   title="{{localize 'FABULA_ULTIMA.sheet.pc.spell.add'}}" data-action="create"
                                   data-type="item"
                                   data-document-type="spell">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </fieldset>
                    </li>
                    {{#each actor.itemTypes.spell}}
                        <li class="flexrow">
                            {{> spellDisplay }}
                        </li>
                    {{/each}}
                </ol>
            </section>
        </div>
        <div class="tab" data-tab="bonds" data-group="primary">
            <section class="form-group stacked">
                <fieldset class="{{#if (gte system.bonds.length 6)}}disabled{{/if}}">
                    <label>{{localize 'FABULA_ULTIMA.sheet.pc.bonds.add'}}</label>
                    <a data-action="add" data-type="bond"><i class="fas fa-plus"></i></a>
                </fieldset>
                {{#each system.bonds}}
                    <fieldset class="form-fields" data-index="{{@index}}">
                        <div class="flexrow" style="gap: 0.5rem">
                            <input name="system.bonds.{{@index}}.with" type="text" value="{{./with}}" placeholder="{{localize 'FABULA_ULTIMA.sheet.pc.bonds.placeholderWith'}}">
                            <select name="system.bonds.{{@index}}.feeling1" class="flex0">
                                {{selectOptions (fu-feelings1) selected=feeling1 localize=true}}
                            </select>
                            <select name="system.bonds.{{@index}}.feeling2" class="flex0">
                                {{selectOptions (fu-feelings2) selected=feeling2 localize=true}}
                            </select>
                            <select name="system.bonds.{{@index}}.feeling3" class="flex0">
                                {{selectOptions (fu-feelings3) selected=feeling3 localize=true}}
                            </select>
                            <a data-action="delete" data-type="bond" class="flex0"><i class="fas fa-trash"></i></a>
                        </div>
                    </fieldset>
                {{/each}}
            </section>
        </div>
        <div class="tab" data-tab="jobs" data-group="primary">
            <section class="form-group-stacked">
                <ol>
                    <li class="flexrow">
                        <fieldset class="flexrow">
                            <div class="flex0" style="min-width: 24px"></div>
                            <div></div>
                            <div class="flex0">
                                <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}"
                                   title="{{localize 'FABULA_ULTIMA.sheet.npc.attacks.create'}}"
                                   data-action="create"
                                   data-type="item">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </fieldset>
                    </li>
                    {{#each actor.itemTypes.job}}
                        <li class="flexrow">
                            <fieldset data-item-id="{{id}}">
                                <div class="flexrow">
                                    <a data-collapse-toggle="{{id}}"><i class="fas fa-chevron-circle-down"></i></a>
                                    <label>{{name}}</label>
                                    <label>{{localize 'FABULA_ULTIMA.level'}}: {{system.level}}/10</label>
                                    <div class="flex0">
                                        <a data-action="delete" data-type="job">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" data-collapse="{{id}}">
                                    <div>
                                        {{localize 'FABULA_ULTIMA.sheet.pc.job.skills'}}
                                    </div>
                                    <ul>
                                        {{#each system.skills as | skill |}}
                                            <li class="flexcol">
                                                <fieldset class="flexrow">
                                                    <a class="content-link" draggable="true"
                                                       data-uuid="{{skill.uuid}}" data-id="{{skill.id}}"
                                                       data-type="{{skill.documentName}}"
                                                       data-tooltip="{{skill.documentName}} {{skill.name}}"><i
                                                            class="fas fa-suitcase"></i>{{skill.name}}</a>
                                                    <label>{{skill.name}}</label>
                                                    <label>{{localize
                                                            'FABULA_ULTIMA.character.job.skill.level'}} {{skill.level}}</label>
                                                </fieldset>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </fieldset>
                        </li>
                    {{/each}}
                </ol>
            </section>
        </div>
        <div class="tab" data-tab="description" data-group="primary">
            {{editor enrichedHtml.description target='system.description' engine="prosemirror" button=true}}
        </div>
    </div>
</form>
