{{! expects Npc }}
<form class="standard-form fabula-ultima {{cssClass}}" autocomplete="off">
    <header class="sheet-header form-group">
        <section class="form-group-stacked">
            <fieldset>
                <h1 class="form-fields">
                    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
                    <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
                </h1>
            </fieldset>
            <fieldset class="form-fields">
                <div>
                    <div class="form-fields">
                        <label>Level</label>
                        <input name="system.level" type="number" value="{{system.level}}">
                    </div>
                    <div class="form-fields">
                        <label>Rank</label>
                        <select name="system.rank">
                            {{selectOptions (fu-rank) selected=system.rank localize=true}}
                        </select>
                    </div>
                    {{#if system.isChampion}}
                        <div class="form-fields">
                            <label>Replaces Soldiers:</label>
                            <input name="system.replacesSoldiers" type="number" min="1"
                                   value="{{system.replacesSoldiers}}">
                        </div>
                    {{/if}}
                </div>
                <div>
                    <div class="form-fields">
                        <label>Species</label>
                        <select name="system.species">
                            {{selectOptions (fu-species) selected=system.species localize=true}}
                        </select>
                    </div>
                    <div class="form-fields">
                        <label>Villain</label>
                        <select name="system.villain">
                            {{selectOptions (fu-villain) selected=system.villain localize=true}}
                        </select>
                    </div>
                    {{#if system.isVillain}}
                        <div class="form-fields">
                            <label>Ultima Points:</label>
                            <input name="system.ultimaPoints" type="number" min="0"
                                   max="15" value="{{system.ultimaPoints}}">
                        </div>
                    {{/if}}
                </div>
            </fieldset>
            <fieldset>
                <div class="form-fields">
                    <label>Traits</label>
                    <input name="system.traits" type="text" value="{{system.traits}}">
                </div>
            </fieldset>
        </section>
    </header>
    <section class="form-group">
        {{#each (fu-attributes) as | attribute |}}
            {{#with (lookup ../data.system.attributes @key) as | value | }}
                <fieldset class="form-fields">
                    <label>{{localize attribute.short}}</label>
                    <select name="system.attributes.{{@key}}.base">
                        {{selectOptions (fu-attributeDice) selected=value.base localize=true}}
                    </select>
                    <span>({{localize value.current}})</span>
                </fieldset>
            {{/with}}
        {{/each}}
        <fieldset style="flex: 0">
            <a class="button" data-action="roll" data-type="check">
                <label>
                    <i class="fas fa-dice"></i>
                </label>
            </a>
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>HP</label>
            <input type="number" name="system.hp.value" value="{{system.hp.value}}">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.hp.max}}">
            (<input type="text" readonly value="{{system.hp.crisis}}">)
        </fieldset>
        <fieldset class="form-fields">
            <label>MP</label>
            <input type="number" name="system.mp.value" value="{{system.mp.value}}">
            <span class="sep">/</span>
            <input type="text" readonly value="{{system.mp.max}}"/>
        </fieldset>
        {{#each data.system.defenses}}
            <fieldset class="form-fields">
                <label>{{localize (concat 'FABULA_ULTIMA.defense.' @key '.short')}}</label>
                <select name="system.defenses.{{@key}}.attribute">
                    <option value="none"></option>
                    {{selectOptions (fu-attributes) selected=this.attribute localize=true labelAttr='short'}}
                </select>
                <span class="sep">+</span>
                <input name="system.defenses.{{@key}}.modifier" type="number" value="{{this.modifier}}">
                <span class="sep">=</span>
                <input readonly type="number" value="{{this.current}}">
            </fieldset>
        {{/each}}
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.initiative.short' }}</label>
            <input name="system.initiative" type="number" readonly
                   value="{{system.initiative}}"/>
        </fieldset>
    </section>
    <section class="form-group">
        {{> affinitiesConfig system.affinities}}
    </section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attacks">{{localize 'FABULA_ULTIMA.tab.attacks'}}</a>
        <a class="item" data-tab="spells">{{localize 'FABULA_ULTIMA.tab.spells'}}</a>
        <a class="item" data-tab="description">{{localize 'FABULA_ULTIMA.tab.description'}}</a>
    </nav>
    <div class="tab-container">
        <section class="tab attacks" data-tab="attacks" data-group="primary">
            <ol>
                <li class="flexrow">
                    <fieldset class="flexrow">
                        <div class="flex0" style="min-width: 24px"></div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.name'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.type'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.check.attribute1'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.check.attribute2'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.check.bonus'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.damage.roll'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.damage.bonus'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.damage.type'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.attack.status'}}</div>
                        <div class="flex0">
                            <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}"
                               title="{{localize 'FABULA_ULTIMA.npc.attacks.create'}}" data-action="create"
                               data-type="item"
                               data-document-type="attack">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </fieldset>
                </li>
                {{#each actor.itemTypes.attack}}
                    <li class="flexrow">
                        {{> attackDisplay }}
                    </li>
                {{/each}}
            </ol>
        </section>
        <section class="tab" data-tab="spells" data-group="primary">
            <ol>
                <li class="flexrow">
                    <fieldset class="flexrow">
                        <div class="flex0" style="min-width: 24px"></div>
                        <div>{{localize 'FABULA_ULTIMA.npc.spell.name'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.spell.cost'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.spell.check'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.spell.damage'}}</div>
                        <div>{{localize 'FABULA_ULTIMA.npc.spell.status'}}</div>
                        <div class="flex0">
                            <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}"
                               title="{{localize 'FABULA_ULTIMA.npc.attacks.create'}}" data-action="create"
                               data-type="item"
                               data-document-type="spell">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </fieldset>
                </li>
                {{#each actor.itemTypes.spell}}
                    <li class="flexrow">
                        {{> spellDisplay }}
                    </li>
                {{/each}}
            </ol>
        </section>
        <section class="tab" data-tab="description" data-group="primary">
            {{editor system.description target='system.description' button=true}}
        </section>
    </div>
</form>
