<div class="check">
    {{#if weapon}}
        <section class="weapon">
            <h4>
                <a class="content-link" data-uuid="{{weapon.uuid}}" data-type="weapon">
                    <i class="fas fa-sword"></i>
                    <strong>{{weapon.name}}</strong>
                </a>
            </h4>
            {{#if weapon.quality}}
                <div>{{weapon.quality}}</div>
            {{/if}}
            <div>
                <span>{{localize (concat 'FABULA_ULTIMA.attackType.' weapon.attackType)}}</span>
                <span>{{localize 'FABULA_ULTIMA.chat.check.weapon.against'}}</span>
                <span>{{localize (concat 'FABULA_ULTIMA.defense.' weapon.defense '.full')}}</span>
            </div>
        </section>
    {{/if}}
    {{#if spell}}
        <section class="spell">
            <h4>
                <a class="content-link" data-uuid="{{spell.uuid}}" data-type="spell">
                    <i class="fas fa-sparkles"></i>
                    <strong>{{spell.name}}</strong>
                </a>
            </h4>
            <div>
                <strong>{{localize 'FABULA_ULTIMA.chat.check.spell.target.target'}}</strong>
                {{#if (gt spell.maxTargets 1)}}
                    <span>{{localize 'FABULA_ULTIMA.chat.check.spell.target.multiple' maxTargets=spell.maxTargets
                                     target=(localize (concat 'FABULA_ULTIMA.targetType.' spell.targetType '.plural'))}}</span>
                {{else}}
                    <span>{{localize
                            (concat 'FABULA_ULTIMA.chat.check.spell.target.singular.' spell.targetType)}}</span>
                {{/if}}
            </div>
            <div>
                <strong>{{localize 'FABULA_ULTIMA.chat.check.spell.cost'}}</strong>
                <span>{{spell.cost}}</span>
                <span>{{localize 'FABULA_ULTIMA.mp.short'}}</span>
                <span>{{localize (concat 'FABULA_ULTIMA.costType.' spell.costType)}}</span>
            </div>
            {{#if spell.effect}}
                <div>
                    <strong>{{localize 'FABULA_ULTIMA.chat.check.spell.effect'}}</strong>
                    <span>{{spell.effect}}</span>
                </div>
            {{/if}}
            {{#if (and result.crit spell.opportunity)}}
                <div>
                    <strong>{{localize 'FABULA_ULTIMA.chat.check.spell.opportunity'}}</strong>
                    <span>{{spell.opportunity}}</span>
                </div>
            {{/if}}
        </section>
    {{/if}}
    {{#if reroll}}
        <section class="reroll">
            <span>{{{localize 'FABULA_ULTIMA.chat.check.reroll'
                              trait=(localize (concat 'FABULA_ULTIMA.trait.' reroll.trait))
                              value=(concat '<strong class="trait">' reroll.value '</strong>' )}}}</span>
        </section>
    {{/if}}
    {{#if push}}
        <section class="push">
            <span>{{localize 'FABULA_ULTIMA.chat.check.push.bond'}}</span>
            {{#each push.feelings}}
                <strong>{{localize (concat 'FABULA_ULTIMA.feeling.' this)}}</strong>
                {{#unless @last}}<span>{{localize 'FABULA_ULTIMA.chat.check.push.and'}}</span>{{/unless}}
            {{/each}}
            <span>{{{localize 'FABULA_ULTIMA.chat.check.push.with'
                              with=(concat '<strong>' push.with '</strong>')}}}</span>
            <span>({{push.strength}})</span>
        </section>
    {{/if}}
    <section class="check">
        <div class="dice-roll">
            <div class="dice-result">
                <div class="dice-formula">
                    <span>[</span>
                    <span>{{localize (concat 'FABULA_ULTIMA.attribute.' check.attr1.attribute '.short')}}</span>
                    <span>+</span>
                    <span>{{localize (concat 'FABULA_ULTIMA.attribute.' check.attr2.attribute '.short')}}</span>
                    <span>]</span>
                    <span>{{#if (lt check.modifier 0)}}-{{else}}+{{/if}}</span>
                    <span>{{fu-abs check.modifier}}</span>
                    {{#if push}}
                        <span>+</span>
                        <span>{{push.strength}}</span>
                    {{/if}}
                </div>
                <div class="dice-formula">
                    <span class="roll {{check.attr1.dice}}">{{result.attr1}}</span>
                    <span>+</span>
                    <span class="roll {{check.attr2.dice}}">{{result.attr2}}</span>
                    <span>{{#if (lt check.modifier 0)}}-{{else}}+{{/if}}</span>
                    <span>{{fu-abs result.modifier}}</span>
                    {{#if push}}
                        <span>+</span>
                        <span>{{push.strength}}</span>
                    {{/if}}
                </div>
                <div class="dice-total">{{result.total}}</div>
            </div>
        </div>
    </section>
    {{#if damage}}
        <hr>
        <section class="damage">
            <h4>{{localize 'FABULA_ULTIMA.chat.check.damage.title'}}</h4>
            <div class="dice-roll">
                <div class="dice-result">
                    {{#if (and damage.roll (ne damage.roll 'none'))}}
                        <div class="dice-formula">
                            <span>[</span>
                            <span class="roll">{{localize
                                    (concat 'FABULA_ULTIMA.rollType.' damage.roll '.short')}}</span>
                            <span>+</span>
                            <span>{{damage.bonus}}</span>
                            <span>]</span>
                            <span>{{localize (concat 'FABULA_ULTIMA.damageType.' damage.type)}}</span>
                        </div>
                        <div class="dice-formula">
                            {{#if damage.attribute}}
                                <span class="roll {{lookup (lookup check damage.attribute) 'dice'}}">{{lookup result
                                                                                                              damage.attribute}}</span>
                                <span>+</span>
                            {{/if}}
                            <span>{{damage.bonus}}</span>
                        </div>
                    {{/if}}
                    <div class="dice-total">
                        <span>{{damage.total}}</span>
                        <i class="fas {{localize (concat 'FABULA_ULTIMA.damageTypeIcons.' damage.type)}}"></i>
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
    {{#if difficulty}}
        <hr>
        <section class="difficulty">
            <label>{{localize 'FABULA_ULTIMA.chat.check.difficulty'}}:</label>
            <span>{{difficulty}}</span>
        </section>
    {{/if}}
    {{#if targets}}
        <hr>
        <section class="targets">
            <h4>{{localize 'FABULA_ULTIMA.chat.check.targets'}}</h4>
            {{#each targets}}
                <div class="target">
                    <a class="content-link" data-uuid="{{this.uuid}}" data-type="actor">
                        <i class="fas fa-person"></i>
                        <strong>{{this.name}}</strong>
                    </a>
                    <span class="sep"></span>
                    {{#if (or (gte @root.result.total this.difficulty) @root.result.crit)}}
                        <span class="success">{{localize 'FABULA_ULTIMA.chat.check.hit'}}</span>
                    {{else}}
                        <span class="failure">{{localize 'FABULA_ULTIMA.chat.check.miss'}}</span>
                    {{/if}}
                </div>
            {{/each}}
        </section>
    {{/if}}
    <section class="result {{#if result.fumble}}fumble{{/if}} {{#if result.crit}}critical{{/if}} {{#if difficulty}}{{#if
            (gte result.total difficulty)}}success{{else}}failure{{/if}}{{/if}}">
        {{#if result.crit}}
            <span>{{localize 'FABULA_ULTIMA.chat.check.critical'}}</span>
        {{/if}}
        {{#if result.fumble}}
            <span>{{localize 'FABULA_ULTIMA.chat.check.fumble'}}</span>
        {{/if}}
        {{#if difficulty}}
            {{#if (and (or result.crit (gte result.total difficulty)) (not result.fumble))}}
                <span>{{localize 'FABULA_ULTIMA.chat.check.success'}}</span>
            {{else}}
                {{#unless result.fumble}}<span>{{localize 'FABULA_ULTIMA.chat.check.failure'}}</span>{{/unless}}
            {{/if}}
        {{/if}}
    </section>
</div>