<div class="check">
    {{#if reroll}}
        <section>
            <span>{{{localize 'FABULA_ULTIMA.chat.check.reroll' trait=(localize (concat 'FABULA_ULTIMA.trait.' reroll.trait)) value=(concat '<strong class="trait">' reroll.value '</strong>' )}}}</span>
        </section>
    {{/if}}
    {{#if push}}
        <section>
            <span>{{localize 'FABULA_ULTIMA.chat.check.push.bond'}}</span>
            {{#each push.feelings}}
                <strong>{{localize (concat 'FABULA_ULTIMA.feeling.' this)}}</strong>
                {{#unless @last}}<span>{{localize 'FABULA_ULTIMA.chat.check.push.and'}}</span>{{/unless}}
            {{/each}}
            <span>{{{localize 'FABULA_ULTIMA.chat.check.push.with' with=(concat '<strong>' push.with '</strong>')}}}</span>
            <span>({{push.strength}})</span>
        </section>
    {{/if}}
    <div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula">
                <span>{{localize (concat 'FABULA_ULTIMA.attribute.' check.attr1.attribute '.short')}}</span>
                <span>+</span>
                <span>{{localize (concat 'FABULA_ULTIMA.attribute.' check.attr2.attribute '.short')}}</span>
                <span>{{#if (lt check.modifier 0)}}-{{else}}+{{/if}}</span>
                <span>{{fu-abs check.modifier}}</span>
                {{#if push}}
                    <span>+</span>
                    <span>{{push.strength}}</span>
                {{/if}}
            </div>
            <div class="dice-formula">
                <span class="roll {{check.attr1.dice}}">{{result.attr1}}</span>
                <span>+</span>
                <span class="roll {{check.attr2.dice}}">{{result.attr2}}</span>
                <span>{{#if (lt check.modifier 0)}}-{{else}}+{{/if}}</span>
                <span>{{fu-abs result.modifier}}</span>
                {{#if push}}
                    <span>+</span>
                    <span>{{push.strength}}</span>
                {{/if}}
            </div>
            <h4 class="dice-total">{{result.total}}</h4>
        </div>
    </div>
    {{#if difficulty}}
        <section class="difficulty">
            <label>{{localize 'FABULA_ULTIMA.chat.check.difficulty'}}:</label>
            <span>{{difficulty}}</span>
        </section>
    {{/if}}
    <section class="result {{#if result.fumble}}fumble{{/if}} {{#if result.crit}}critical{{/if}} {{#if difficulty}}{{#if
            (gte result.total difficulty)}}success{{else}}failure{{/if}}{{/if}}">
        {{#if result.crit}}
            <span>{{localize 'FABULA_ULTIMA.chat.check.critical'}}</span>
        {{/if}}
        {{#if result.fumble}}
            <span>{{localize 'FABULA_ULTIMA.chat.check.fumble'}}</span>
        {{/if}}
        {{#if difficulty}}
            {{#if (and (or result.crit (gte result.total difficulty)) (not result.fumble))}}
                <span>{{localize 'FABULA_ULTIMA.chat.check.success'}}</span>
            {{else}}
                {{#unless result.fumble}}<span>{{localize 'FABULA_ULTIMA.chat.check.failure'}}</span>{{/unless}}
            {{/if}}
        {{/if}}
    </section>
</div>