<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <hr/>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.shield.price'}}</label>
            <input type="number" name="system.price" value="{{system.price}}">
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.shield.defense'}}</label>
            <input type="number" name="system.defenseModifier" value="{{system.defenseModifier}}">
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.shield.magicDefense'}}</label>
            <input type="number" name="system.magicDefenseModifier" value="{{system.magicDefenseModifier}}">
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.shield.initiative'}}</label>
            <input type="number" name="system.initiativeModifier" value="{{system.initiativeModifier}}">
        </fieldset>
    </section>
    <section>
        <fieldset class="form-fields">
            <label>{{localize "FABULA_ULTIMA.sheet.shield.quality"}}</label>
            <input type="text" name="system.quality" value="{{system.quality}}">
        </fieldset>
    </section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'FABULA_ULTIMA.description'}}</a>
    </nav>
    <section class="form-group-stacked">
        <fieldset class="form-fields">
            {{editor enrichedHtml.description target='system.description' engine="prosemirror" button=true}}
        </fieldset>
    </section>
</form>
