{{log this}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <hr/>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.item.price'}}</label>
            <input name="system.price" type="number" value="{{system.price}}">
        </fieldset>
    </section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'FABULA_ULTIMA.description'}}</a>
        <a class="item" data-tab="effects">{{localize 'FABULA_ULTIMA.effects'}}</a>
    </nav>
    <div class="tab-container">
        <section data-tab="description" data-group="primary" class="form-group-stacked tab">
            <fieldset class="form-fields">
                {{editor enrichedHtml.description target='system.description' button=true}}
            </fieldset>
        </section>
        <section data-tab="effects" data-group="primary" class="form-group-stacked tab">
            <ol>
                <li class="flexrow">
                    <fieldset class="flexrow">
                        <h3 class="flexrow">{{localize "FABULA_ULTIMA.effect.label"}}</h3>
                        <div>{{localize "FABULA_ULTIMA.effect.source"}}</div>
                        <div>{{localize "FABULA_ULTIMA.effect.duration"}}</div>
                        <div class="flexrow">
                            {{#if @root.editable}}
                                <a data-action="add" data-type="effect" data-tooltip="FABULA_ULTIMA.effect.create">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {{/if}}
                        </div>
                    </fieldset>
                </li>
                {{#each effects as |effect|}}
                    {{log effect}}
                    <li class="flexrow" data-effect-id="{{effect.id}}">
                        <fieldset class="flexrow">
                            <div class="item-name effect-name flexrow">
                                <img class="item-image" src="{{effect.icon}}" height="24" width="24"/>
                                <h4>{{effect.name}}</h4>
                            </div>
                            <div>{{effect.sourceName}}</div>
                            <div>{{effect.duration.label}}</div>
                            <div class="flexrow">
                                {{#if @root.editable}}
                                    <a data-action="toggle" data-type="effect"
                                       data-tooltip="{{#if effect.disabled}}FABULA_ULTIMA.effect.enable{{else}}FABULA_ULTIMA.effect.disable{{/if}}">
                                        <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                                    </a>
                                    <a data-action="edit" data-type="effect"
                                       data-tooltip="FABULA_ULTIMA.effect.edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data-action="delete" data-type="effect"
                                       data-tooltip="FABULA_ULTIMA.effect.delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {{/if}}
                            </div>
                        </fieldset>
                    </li>
                {{/each}}
            </ol>
        </section>
    </div>
</form>
