{{log this}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <hr/>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize "FABULA_ULTIMA.defense.defense.short"}}</label>
            <select name="system.defense.attribute">
                {{selectOptions (fu-attributes) selected=system.defense.attribute localize=true labelAttr='short'}}
            </select>
            <span class="sep">+</span>
            <input name="system.defense.modifier" type="number" value="{{system.defense.modifier}}"/>
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize "FABULA_ULTIMA.defense.magicDefense.short"}}</label>
            <select name="system.magicDefense.attribute">
                {{selectOptions (fu-attributes) selected=system.magicDefense.attribute localize=true labelAttr='short'}}
            </select>
            <span class="sep">+</span>
            <input name="system.magicDefense.modifier" type="number" value="{{system.magicDefense.modifier}}"/>
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize "FABULA_ULTIMA.sheet.weapon.quality"}}</label>
            <input type="text" name="system.quality" value="{{system.quality}}">
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label class="checkbox">
                <input name="system.martial" type="checkbox" {{checked system.martial}}>
                {{localize "FABULA_ULTIMA.martial"}}
            </label>
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.price.price'}}</label>
            <input name="system.price" type="number" value="{{system.price}}">
        </fieldset>
    </section>
    <section data-tab="description" class="form-group-stacked">
        <fieldset class="form-fields">
            {{editor enrichedHtml.description target='system.description' engine="prosemirror" button=true}}
        </fieldset>
    </section>
</form>
