<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <hr/>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.weapon.type'}}</label>
            <select name="system.attackType">
                {{selectOptions (fu-attackTypes) selected=system.attackType localize=true}}
            </select>
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.weapon.category'}}</label>
            <select name="system.category">
                {{selectOptions (fu-weaponCategories) selected=system.category localize=true}}
            </select>
            <span class="sep"></span>
            <label class="checkbox">
                {{localize 'FABULA_ULTIMA.sheet.weapon.martial'}}
                <input type="checkbox" name="system.martial" {{checked system.martial}}/>
            </label>
        </fieldset>
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.weapon.defense'}}</label>
            <select name="system.defense">
                {{selectOptions (fu-defenses) selected=system.defense localize=true labelAttr='short'}}
            </select>
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.weapon.check'}}</label>
            {{> checkConfig}}
        </fieldset>
    </section>
    <section class="form-group">
        <fieldset class="form-fields">
            <label>{{localize 'FABULA_ULTIMA.sheet.weapon.damage'}}</label>
            {{> damageConfig}}
        </fieldset>
    </section>
    <section class="form-group-stacked">
        <fieldset class="form-fields">
            <label>{{localize "FABULA_ULTIMA.sheet.weapon.quality"}}</label>
            <input type="text" name="system.quality" value="{{system.quality}}">
        </fieldset>
        <fieldset class="form-fields">
            {{editor enrichedHtml.description target="system.description" engine="prosemirror" button=true}}
        </fieldset>
    </section>
</form>
